# Node.js
node_modules/
npm-debug.log

# Angular
/dist/
/*.svg
/*.ico

# IDE/Editor
.idea/
.vscode/

# Compiled output
*.compiled.js
*.ngfactory.ts
*.shim.ts
*.ngstyle.ts

# Others
*.class
*.swp
*.swo
*.swn
.DS_Store
Thumbs.db
