<div class="container">
    <h3 class="display-6"><b>Pedido de comida</b></h3>
    <hr>
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <input type="hidden" name="orderItemID" #orderItemID="ngModel" [(ngModel)]="formData.orderItemID">
        <input type="hidden" name="orderID" #orderID="ngModel" [(ngModel)]="formData.orderID">
        <input type="hidden" name="itemName" #itemName="ngModel" [(ngModel)]="formData.itemName">
        <div class="form-row">
            <div class="form-group col-md-11">
                <label>Producto</label>
                <select name="itemID" #itemID="ngModel" [(ngModel)]="formData.itemID"
                 class="form-control" (change)="updatePrice($event.target)"
                [class.is-invalid]="!isValid && formData.itemID==0">
                    <option value="0">-Seleccionar-</option>
                    <option *ngFor="let item of items" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label></label>
                <a class="btn" (click)="viewDetail()" ><i class="fa fa-solid fa-eye"></i></a>
            </div>
        </div>
        <div class="" *ngIf="viewDetailProduct">
            <table class="table table-bordered table-striped border-primary">
                <thead class="thead-light">
                    <tr>
                        <td>Ingrediente</td>
                        <td>Cantidad</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let it of item.productItems">
                        <td>{{it.ingredient.name}}</td>
                        <td>{{it.quantity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Precio</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input name="price" #price="ngModel" [(ngModel)]="formData.price" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Cantidad</label>
                <input type="number" name="quantity" #quantity="ngModel" [(ngModel)]="formData.quantity" class="form-control" 
                (keyup)="updateTotal()"
                (change)="updateTotal()"
                [readonly]="formData.itemID == 0"
                 [class.is-invalid]="!isValid && formData.quantity==0">
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Total</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input name="total" #total="ngModel" [(ngModel)]="formData.total" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group col-md-6" *ngIf="item">
                <label>Tiempo de preparación (Minutos)</label>
                <div class="input-group">
                    <input name="preparationTime" #preparationTime="ngModel" [(ngModel)]="item.preparationTime" class="form-control" readonly>
                </div>
            </div>        
        </div>
    
        <div class="form-group">
            <button type="submit" class="btn btn-success"><i class="fas fa-concierge-bell"></i> Agregar a la Orden</button>
            <button type="button" class="btn btn-outline-danger ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Cerrar</button>
        </div>
    </form>
</div>